.filter-input {
  display: flex;
  border: none;
  font-size: 16px;
  background: none;
  color: #134696;
  font-family: "heavy";
}

.filter-input:focus {
  outline: none;
}
.filter-input::placeholder {
  color: #134696;
}
.bid-input {
  display: flex;
  border: none;
  font-size: 12px;
  background: none;
  color: #134696;
  font-family: "heavy";
  padding-left: 15px;
}

.bid-input:focus {
  outline: none;
}
.bid-input::placeholder {
  color: #b8b8b8;
  font-size: 8px;
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.bidsSelectDiv {
  position: relative;
  border-bottom: 1px solid #707070;
}

.bidsSelectDiv:after {
  color: #0ebeff;
  right: 10px;
  top: 45%;
  height: 34px;
  position: absolute;
  pointer-events: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #134696;
  content: "";
  z-index: 98;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.bidsSelectDiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  border: none;
  font-family: medium;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-word-break: normal;
  word-break: normal;
  padding: 0px 5px;
  text-transform: capitalize;
  color: #134696;
  font-size: 21px;
  border-radius: 0px;
  font-family: "heavy";
}
.bidsSelectDiv select:focus {
  outline: none;
}
.custom-select {
  display: flex;
  flex: 1;
  border: none;
  font-size: 18px;
  background: none;
  color: #134696;
  font-family: "heavy";
}
.custom-select:focus {
  outline: none;
}
