.account-select {
    border: none;
    width: 100%;
    font-size: 12;
    color: #000;
    font-family: medium;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    font-weight: bold;
    margin-top: 2px;
  }
  .account-select:focus {
    outline: none;
  }
  .select-items div,
  .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  .post-creation-input {
    display: flex;
    flex: 1;
    border: none;
    font-size: 18px;
    background: none;
    font-family: medium;
    transition: all 0.3s ease;
  }
  .post-creation-input:focus {
    outline: none;
  }
  .post-creation-input::placeholder {
    color: #7d7d7d;
    font-size: 18px;
    font-family: medium;
  }
 
  .is-sticky {
    position: fixed;
    top: 80px;
    z-index: 5;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    right: 0;

  }
  .suggestions-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 300px;
    max-width: 100%;
    position: absolute;
    right: 0;
  }